body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#09203f, #537895);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "lato", sans-serif;
}

article {
  background-color: #537895;
  text-align: center;
  margin-top: 10em;
  width: 50vh;
  height: 50vh;
  margin: 10em auto 0 auto;

  header {
    h1 {
      font-size: 3rem;
    }
  }

  main {
  }

  #mainContainer {
    display: grid;
    grid-template-areas: "setting generateButton";
    grid-template-columns: repeat(2, 1fr);
    text-align: center;

    #settingsContainer {
      display: grid;
      grid-template-areas: "setting generateButton";
      grid-template-columns: repeat(2, 1fr);

      #passwordLengthContainer {
        grid-area: setting;
      }
    }
  }
}
